<form action="/restaurants" method="post" style="margin-left:5%; margin-right:5% magin-top: 5%">
  <div>
    <label class="mb-3 col-3" for="name">name</label>
    <input class="mb-3 col-3" type="text" placeholder="name" name="name">
  </div>

  <div>
    <label class="mb-3 col-3" for="name_en">name_en</label>
    <input class="mb-3 col-3" type="text" placeholder="name_en" name="name_en">
  </div>

  <div>
    <label class="mb-3 col-3" for="category">category</label>
    <input class="mb-3 col-3" type="text" placeholder="category" name="category">
  </div>

  <div>
    <label class="mb-3 col-3" for="image">image</label>
    <input class="mb-3 col-3" type="text" placeholder="image" name="image">
  </div>

  <div>
    <label class="mb-3 col-3" for="location">location</label>
    <input class="mb-3 col-3" type="text" placeholder="location" name="location">
  </div>

  <div>
    <label class="mb-3 col-3" for="phone">phone</label>
    <input class="mb-3 col-3" type="text" placeholder="phone" name="phone">
  </div>

  <div>
    <label class="mb-3 col-3" for="google_map">google_map</label>
    <input class="mb-3 col-3" type="text" placeholder="google_map" name="google_map">
  </div>

  <div>
    <label class="mb-3 col-3" for="rating">rating</label>
    <input class="mb-3 col-3" type="text" placeholder="rating" name="rating">
  </div>

  <div>
    <label class="mb-3 col-3" for="description">description</label>
    <input class="mb-3 col-3" type="text" placeholder="description" name="description">
  </div>

  <button type="submit">Save</button>
</form>