{{>navbar}}
{{>message}}
<form action="/restaurants" method="post" style="margin-left:5%; margin-right:5% magin-top: 5%" class="needs-validation  {{ wasValidated }} row g-3">
  <div class="col-md-3">
    <label class="mb-3 col-3 form-label" for="name">name</label>
    <input class="mb-3 col-3 form-control" type="text" placeholder="name" name="name"  required>
  </div>

  <div class="col-md-3">
    <label class="mb-3 col-3 form-label" for="name_en">name_en</label>
    <input class="mb-3 col-3 form-control" type="text" placeholder="name_en" name="name_en" required>
  </div>

  <div class="col-md-3">
    <label class="mb-3 col-3 form-label" for="category">category</label>
    <input class="mb-3 col-3 form-control" type="text" placeholder="category" name="category" required>
  </div>

  <div class="col-md-3">
    <label class="mb-3 col-3 form-label" for="image">image</label>
    <input class="mb-3 col-3 form-control" type="url" placeholder="image" name="image" required>
  </div>

  <div class="col-md-3">
    <label class="mb-3 col-3 form-label" for="location">location</label>
    <input class="mb-3 col-3 form-control" type="text" placeholder="location" name="location" required>
  </div>

  <div class="col-md-3">
    <label class="mb-3 col-3 form-label" for="phone">phone</label>
    <input class="mb-3 col-3 form-control" type="tel" placeholder="phone" name="phone" required>
  </div>

  <div class="col-md-3">
    <label class="mb-3 col-3 form-label" for="google_map">google_map</label>
    <input class="mb-3 col-3 form-control" type="url" placeholder="google_map" name="google_map" required>
  </div>

  <div class="col-md-3">
    <label class="mb-3 col-3 form-label" for="rating">rating</label>
    <input class="mb-3 col-3 form-control" type="text" placeholder="rating" name="rating" required>
  </div>

  <div class="col-md-3">
    <label class="mb-3 col-3 form-label" for="description">description</label>
    <input class="mb-3 col-3 form-control" type="text" placeholder="description" name="description" required>
  </div>

  <button class="btn btn-primary" type="submit" style="width: 5em; height: 3em">Save</button>
</form>

<form action="/restaurants" style="margin-left:5%; margin-right:5% magin-top: 5% magin-bottom: 5% ">
  <button class="btn btn-secondary" type="submit">Back</button>
</form>